<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
</head>
<body>
<h1>Демо Страница: фунционалността на приложение за Агенция на недвижими имоти.</h1>
<p>Списък с линкове към активните функционалностти</p>
<a href="registerAgency">Регистрация на Агенция</a>
<a href="registerEmployee">Регистрация на Служител</a>
<a href="registerCustomer">Регистрация на Клиент</a>
<a href="registerBuyer">Регистрация на Купувач на имот</a>
<a href="registerSeller">Регистрация на Продавач на имот</a>
<a href="registerProperty">Регистрация на имот</a>


</body>
</html>