<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Website CSS style -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

    <!-- Form validation jscript -->
    <script src="js/formvalidation.js"> </script>

    <!-- Form registration style -->
    <link rel="stylesheet" type="text/css" href="css/regformcss/regform.css">

    <!-- Title of the resource.-->
    <title>Страница</title>
</head>
<body class="font-applicator">
<div>
<h1 class="roundEdges col-xs-6 col-xs-offset-3 text-center">Демо Страница: фунционалността на приложение за Агенция на недвижими имоти.</h1>
<p class="roundEdges col-xs-6 col-xs-offset-3 text-center" style="color: white;">Списък с линкове към активните функционалностти</p>
</div>

<table class=" font-applicator roundEdges col-xs-6 col-xs-offset-3"  >
<!--Index page of the Real Estate Agency-->
    <tr >
    <td>    <a href="registerAgency" style="color: white;">Регистрация на Агенция</a></td>
    <td>        <a href="registerEmployee" style="color: white;">Регистрация на Служител</a></td>
        <td>        <a href="registerCustomer" style="color: white;">Регистрация на Клиент</a></td>
        <td>      <a href="registerBuyer" style="color: white;">Регистрация на Купувач на имот</a></td>
        <td>        <a href="registerSeller" style="color: white;">Регистрация на Продавач на имот</a></td>
        <td>   <a href="registerProperty" style="color: white;">Регистрация на имот</a></td>
        </tr>
    <tr >
        <td>    <a href="showAgencies" style="color: white;">Всички агенции</a></td>
        <td>        <a href="showEmployees" style="color: white;">Всички Служители</a></td>
        <td>        <a href="showCustomers" style="color: white;">Всички Клиенти</a></td>
        <td>      <a href="showBuyers?id=0" style="color: white;">Всички Купувачи</a></td>
        <td>        <a href="showSellers?id=0" style="color: white;">Всички Продавачи</a></td>
        <td>   <a href="showProperties" style="color: white;">Всички имоти</a></td>
    </tr>

</table>
</body>
</html>